.footer{
  background-color: purple;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a{
  color: white;
}

.iconsLinks{
  margin-top: 30px;
}

p{
  margin-top: 10px;
  font-size: 0.8rem;
}

