<div class="toolCard">
  <div class="filter">
    <mat-form-field class="example-full-width">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="search link card" #txtSearch (keyup)="onSearchCard(txtSearch.value)" />
    </mat-form-field>
  </div>
  <div class="add">
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        Add/Edit new Card
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form action=""[formGroup]="form" (ngSubmit)="sendDataSupabase()">
      <div class="addInput">
        <mat-form-field appearance="fill" class="input">
          <mat-label>Title</mat-label>
          <input matInput  formControlName="title"/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Icon</mat-label>
          <input matInput formControlName="icon" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Link</mat-label>
          <input matInput formControlName="link" />
        </mat-form-field>
      </div>
      <button mat-button class="addButton" type="submit">{{statusSendButton}}</button>
    </form>

  </mat-expansion-panel>

  </div>
</div>
