.toolCard {
  margin: 0 auto;
  display: flex;
  width: 85%;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: rgb(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.3);
  backdrop-filter: blur(2px);
  border: 1px solid rgb(255, 255, 255, 0.18);
  border-radius: 10px;
}

.toolCard button {
  background-color: yellowgreen;
}

.addInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  width: 100%;
}

.addButton {
  width: 100%;
  margin-bottom: 10px;
}

.filter {
  margin-top: 10px;
}

/* ================== Responsive ================== */

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 1080px) {
  .addInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input {
    width: 20%;
  }
}
